*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-grid{
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 24.25% 24.25% 24.25% 24.25% 24.25% 24.25% 24.25% 24.25% ;
    width: auto;
    height: auto;
    gap: 20px 1%;

    
    
}
.item{
    /* background-color: skyblue; */
    height: 600px;
    position: relative;
    padding: 20px 15px;
    border-radius: 10px;
    overflow: hidden;
    
}
.item > img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.txt-title{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: gray;
    padding: 10px 0;
}
.txt-desc{
  display: block;
  text-align: justify;
}
.price{
    text-align: center;
    display: block;
    padding: 20px 0;
    font-size: 20px;
    color: red;
    font-weight: 600;
}
.star{
    justify-content: space-between;
    display: flex;
    padding: 0 30px;
}
.buy{
    text-transform: uppercase;
    display: block;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: red;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    left: 0;
    width: 100%;
    border: none;
}