.loading{
    width: 120px;
    height: 120px;
    
    border: 16px solid yellow;
    /* border-radius: 50%; */
    border-top: 16px solid #3498db;
    animation: aa 5s linear infinite;
    
    



}
@keyframes aa{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}