*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    width: 100%;
    background-color: gainsboro;
    position: sticky;
    top: 0;
    z-index: 100;
}
ul{
    list-style-type: none;
    padding: 0;
}
.nav {
    width: 100%;
    background-color: rgb(184, 184, 184);
    margin: auto;
}
.nav > ul {
    display: none;
    gap: 20px;
}
.nav > ul > li {
    padding: 15px 10px;
    font-weight: bold;
    font-size: 25px;
    background-color: rgb(209, 209, 209);
}
.sid-mobile {
    width: 300px;
    height: 100vh;
    animation: showSid 0.3s ease-in-out forwards;
    background-color: red;
}
@media (min-width: 768px) {
    .nav {
        width: 90%;
    }
    .nav > ul {
        display: flex;
    }
    .nav > svg {
        display: none;
    }
    .sid-mobile {
        animation: hidSid 0.3s ease forwards;
    }
}
@keyframes showSid {
    from {
        transform: translateX(-200%);
    }
    to {
        transform: translateX(0);
    }
}
@media hidSid {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}